{% extends '_layout' %}

{% block content %}
  <div class="submit">
    <h1 class="submit__title">Got something to share? Let us know.</h1>

    {% macro errorList(errors) %}
      {% if errors %}
          <ul class="errors">
              {% for error in errors %}
                  <li>{{ error }}</li>
              {% endfor %}
          </ul>
      {% endif %}
    {% endmacro %}

    {% from _self import errorList %}

    <form class="submit__form" method="post" action="" accept-charset="UTF-8">
      <div class="input" data-input>
        <label class="input__label" for="from-name">Your Name</label>
        <input class="input__field" data-input-field id="from-name" type="text" name="fromName" value="{{ message.fromName ?? '' }}">
        {{ message is defined and message ? errorList(message.getErrors('fromName')) }}
      </div>

      <div class="input" data-input>
        <label class="input__label" for="from-email">Your Email</label>
        <input class="input__field" data-input-field id="from-email" type="email" name="fromEmail" value="{{ message.fromEmail ?? '' }}">
        {{ message is defined and message ? errorList(message.getErrors('fromEmail')) }}
      </div>

      <div class="input" data-input>
        <label class="input__label" for="url">URL</label></h3>
        <input class="input__field" data-input-field id="url" type="text" name="url" value="{{ message.url ?? '' }}">
        {{ message is defined and message ? errorList(message.getErrors('url')) }}
      </div>

      <div class="input" data-input>
        <label class="input__label" for="message">Message</label></h3>
        <textarea class="input__field" data-input-field rows="10" cols="40" id="message" name="message">{{ message.message ?? '' }}</textarea>
        {{ message is defined and message ? errorList(message.getErrors('message')) }}
      </div>

      <input class="button button--secondary" type="submit" value="Send">

      <input type="hidden" name="toEmail" value="{{ 'ac@digitalsurgeons.com'|hash }}">
      <input type="hidden" name="action" value="contact-form/send">
      {{ csrfInput() }}
      {{ redirectInput('thanks') }}
    </form>
  </div>
{% endblock %}